NewsdeskWPFClient/NewsdeskWPFClient/Service References/AdminServiceReference/NewsdeskService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:24421/NewsdeskService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DomainClasses" />
  <xs:element name="SendNotDeliveredMail">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendNotDeliveredMailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailAccountCreated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailAccountCreatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendEmailAccountCreatedResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailToEditorNewAccountCreated">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailToEditorNewAccountCreatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendEmailToEditorNewAccountCreatedResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DomainClasses" minOccurs="0" name="GetAllCategoriesResult" nillable="true" type="q1:ArrayOfCategoryToClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewCategoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DomainClasses" minOccurs="0" name="AddCategoryResult" nillable="true" type="q2:CategoryToClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DomainClasses" minOccurs="0" name="category" nillable="true" type="q3:CategoryToClient" />
        <xs:element minOccurs="0" name="newName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DomainClasses" minOccurs="0" name="EditCategoryResult" nillable="true" type="q4:CategoryToClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAuthors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="onlyNotApproved" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAuthorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DomainClasses" minOccurs="0" name="GetAllAuthorsResult" nillable="true" type="q5:ArrayOfAuthorToClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArticlesForAnAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DomainClasses" minOccurs="0" name="author" nillable="true" type="q6:Author" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArticlesForAnAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DomainClasses" minOccurs="0" name="GetAllArticlesForAnAuthorResult" nillable="true" type="q7:ArrayOfArticle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAuthorsForArticleToClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAuthorsForArticleToClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DomainClasses" minOccurs="0" name="GetAllAuthorsForArticleToClientResult" nillable="true" type="q8:ArrayOfAuthorToClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DomainClasses" minOccurs="0" name="author" nillable="true" type="q9:Author" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAuthorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DomainClasses" minOccurs="0" name="author" nillable="true" type="q10:Author" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DomainClasses" minOccurs="0" name="EditAuthorResult" nillable="true" type="q11:Author" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAuthorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateAuthorLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateAuthorLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DomainClasses" minOccurs="0" name="ValidateAuthorLoginResult" nillable="true" type="q12:AuthorToClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorIsApproved">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorIsApprovedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAuthorToEditor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAuthorToEditorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAuthorNotToEditor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAuthorNotToEditorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArticles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="onlyNotApproved" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArticlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DomainClasses" minOccurs="0" name="GetAllArticlesResult" nillable="true" type="q13:ArrayOfArticleToClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesInArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DomainClasses" minOccurs="0" name="article" nillable="true" type="q14:Article" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesInArticleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DomainClasses" minOccurs="0" name="GetAllCategoriesInArticleResult" nillable="true" type="q15:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAuthorsForArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DomainClasses" minOccurs="0" name="article" nillable="true" type="q16:Article" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAuthorsForArticleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DomainClasses" minOccurs="0" name="GetAllAuthorsForArticleResult" nillable="true" type="q17:ArrayOfAuthor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesForArticleToClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesForArticleToClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DomainClasses" minOccurs="0" name="GetAllCategoriesForArticleToClientResult" nillable="true" type="q18:ArrayOfCategoryToClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DomainClasses" minOccurs="0" name="article" nillable="true" type="q19:Article" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateArticleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DomainClasses" minOccurs="0" name="CreateArticleResult" nillable="true" type="q20:Article" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DomainClasses" minOccurs="0" name="GetArticleResult" nillable="true" type="q21:Article" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DomainClasses" minOccurs="0" name="Article" nillable="true" type="q22:Article" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArticleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArticleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetArticleIsApproved">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="articleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetArticleIsApprovedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetArticleIsNotApproved">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="articleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetArticleIsNotApprovedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAcceptAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAcceptAuthorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNotAcceptAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNotAcceptAuthorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>