NewsdeskWPFPaperClient/NewsdeskWPFPaperClient/Service References/NewsDeskPaperServiceReference/NewsdeskPaperService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DomainClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DomainClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCategoryToClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryToClient" nillable="true" type="tns:CategoryToClient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryToClient" nillable="true" type="tns:ArrayOfCategoryToClient" />
  <xs:complexType name="CategoryToClient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryToClient" nillable="true" type="tns:CategoryToClient" />
  <xs:complexType name="ArrayOfArticleToClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArticleToClient" nillable="true" type="tns:ArticleToClient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArticleToClient" nillable="true" type="tns:ArrayOfArticleToClient" />
  <xs:complexType name="ArticleToClient">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApproveId" type="xs:int" />
      <xs:element minOccurs="0" name="ArticleBody" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsApproved" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
      <xs:element minOccurs="0" name="Preamble" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArticleToClient" nillable="true" type="tns:ArticleToClient" />
</xs:schema>